<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Document</title>
</head>

<body>

    <%- include('partials/navbar')%>
    <p id="quote"></p>

    <div class="grid grid-cols-3 gap-10">


        <% categories.forEach((category) => { %>
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure><img src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg" alt="Shoes" /></figure>
                <div class="card-body">
                  <h2 class="card-title"><%= category.category%></h2>
                  <!-- <div class="card-actions justify-end">
                    <button class="btn btn-primary">Buy Now</button>
                  </div> -->

                </div>
              </div>
        

        <% }) %>

    </div>

</body>

</html>